#Loader{
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99999;
}
#LoaderBar{
  left: 0%;
  width: 100%;
  height: 80px;
}
.clouds {
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 65s infinite linear;
        }
        
        .clouds1 {
      position: absolute;
      width: 80px;
      height: 80px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 45s infinite linear;
        }
        
        .clouds2 {
      position: absolute;
      width: 75px;
      height: 75px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 25s infinite linear;
          z-index: 1;
        }
        
        .clouds3 {
      position: absolute;
      width: 93px;
      height: 93px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 80s infinite linear;
        }
        
        .clouds4 {
      position: absolute;
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 120s infinite linear;
        }
        
        .clouds5 {
      position: absolute;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 150s infinite linear;
        }
      
        .cloudsN {
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 65s infinite linear;
        }
      
        .cloudsN1 {
      position: absolute;
      width: 80px;
      height: 80px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 45s infinite linear;
        }
      
        .cloudsN2 {
      position: absolute;
      width: 75px;
      height: 75px;
          z-index: 2;
      background-size: contain;
      background-repeat: no-repeat;
      animation: move-cloud 25s infinite linear;
        }
      
        .cloudsN3 {
      position: absolute;
      width: 93px;
      height: 93px;
          z-index: 2;
      background-size: contain;
      background-repeat: no-repeat;
      animation: move-cloud 80s infinite linear;
        }
      
        .cloudsN4 {
      position: absolute;
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 120s infinite linear;
        }
      
        .cloudsN5 {
      position: absolute;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 150s infinite linear;
        }
      
        .cloudsW {
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 65s infinite linear;
        }
      
        .cloudsW1 {
      position: absolute;
      width: 75px;
      height: 75px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 65s infinite linear;
        }
      
        .cloudsW2 {
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 25s infinite linear;
        }
      
        .cloudsW3 {
      position: absolute;
      width: 93px;
      height: 93px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 80s infinite linear;
        }
      
        .cloudsW4 {
      position: absolute;
      width: 90px;
      height: 90px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 120s infinite linear;
        }
      
        .cloudsW5 {
      position: absolute;
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
          z-index: 2;
      animation: move-cloud 150s infinite linear;
        }
        .dropsbackground {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 0;
        }
        .dropsbackground drops {
          position: absolute;
          width: 5px;
          height: 5px;
          background-size: contain;
          background-repeat: no-repeat;
          animation: rain-drops infinite linear;
        }
      
        .lightning {
          position: absolute;
          width: 400px;
          height: 200px;
          top: -200px;
          left: 50%;
          background-size: contain;
          background-repeat: no-repeat;
          transform: translateX(-50%);
          opacity: 0;
          animation: lightninga 2s ease-out infinite;
        }
        
        @keyframes lightninga {
          0% {
            opacity: 0;
            }
          10% {
            opacity: 1;
            }
          20% {
            opacity: 0;
            }
          25% {
            opacity: 1;
            }
          30% {
            opacity: 0;
            }
          40% {
            opacity: 1;
            }
          60% {
            opacity: 0;
            }
          100% {
            opacity: 0;
            }
        }
        
        @keyframes move-cloud {
          0% {
            left: -100px;
          }
          100% {
            left: 100%;
          }
        }
        @keyframes rain-drops {
          0% {
            top: -100px;
          }
          100% {
            top: 100%;
          }
        }
        
        .starsGame {
          position: absolute;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          z-index: 0;
          }
        
        .sunGame {
      position: absolute;
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      visibility: hidden;
          z-index: 1;
        }
        
        .moonGame {
      position: absolute;
      width: 95px;
      height: 95px;
      background-size: contain;
      background-repeat: no-repeat;
      visibility: hidden;
          z-index: 1;
        }
        
        #terrain {
          position: relative;
          width: 100%;
          height: 100%;
          top: 0%;
          left: 0%;
          z-index: 5;
        }
        #playerMax {
          position: absolute;
          bottom: 0;
          width: 1px;
          background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEis-v4-aqN7jy6rtzb6_wvAnl_PI-nsaTl2myHxjXlI8iaYvRhPIPOxpCHRB3S8DCVCr3yG-A_6lzO6bPAiuok_fDP8neudY61L6DGFfTWhaP_ozdPYxDFu3opJUOIqAp9epS5GOrL9XXV82LtpCLg-kl1dbaFSABwZy3_CJP2xn8m9kLeGuCbbc4jnbg/s256/2023-02-23_22.01.27.png");
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 6;
        }
.gameControl {
          position: fixed;
          display: block;
          margin: auto;
          width: 100%;
          bottom: 6px;
          left: 0%;
          z-index: 1000;
}
#backControlBtn, #forwardControlBtn, #jumpButtonBtn{
  width: 65px;
  height: 65px;
}
.Block{
  position: fixed;
  display: block;
  margin: auto;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.Item{
  position: fixed;
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
#world1Level{
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
